<div class="container-devise">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= render 'devise/flash' %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= render 'devise/flash_errors', input: :email%>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "New password" %> <em>(leave blank if you don't want to change it)</em>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= render 'devise/flash_errors', input: :password%>
    </div>

    <div class="field">
      <%= f.label "New password confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= render 'devise/flash_errors', input: :password_confirmation%>
    </div>

    <div class="field">
      <%= f.label :current_password %> <em>(we need your current password to confirm your changes)</em>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <%= render 'devise/flash_errors', input: :current_password%>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

 <%= button_to "Delete my account", registration_path(resource_name), class: 'delete-account', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

</div>
