<div class="container-devise">
  <h2>Sign up</h2>
  <h4>Already have an account? <%= link_to "Sign in", new_user_session_path %></h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= render 'devise/flash_errors', input: :email%>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= render 'devise/flash_errors', input: :password%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= render 'devise/flash_errors', input: :password_confirmation%>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>