<div class="form-comment">
  <%= form_with model: [@article, @comment || @article.comments.build] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>

    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>

    <p>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </p>

    <p class="btn-comment">
      <%= form.submit @button_text, class: "btn-submit" %>
    </p>
  <% end %>
</div>

