<%= form_with model: article do |form| %>
  <div class="article-title-form">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message_error| %>
      <div class='input-error-message'><%= message_error %></div>
    <% end %>
  </div>
  
  <div class="article-body-form">
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message_error| %>
      <div class='input-error-message'><%= message_error %></div>
    <% end %>
  </div>

  <div class="article-status-form">
    <%= form.label :status %>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div class="btn-submit-container">
    <%= form.submit @button_text, class: "btn-submit" %>
  </div>
<% end %>