<div class="blog-title-container">
  <h1>Articles</h1>
  <%= link_to "New Article", new_article_path, class:"new-article" %>
</div>

<h3 class="article-counter">Our blog has <%= Article.public_count %> articles and counting!</h3>

<div class="articles-container">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class="article">
        <h4 class="index-article-date"><%= publication_date(article.created_at) %></h4>

        <dl>
          <dt class="index-article-title"><%= link_to article.title, article %></dt>
          <dd class="index-article-body"><%= truncate_text(article.body)%></dd>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>
