<div class="article-show">
  <div class= "article-links">
    <ul class= "article-links-list">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
      <li><%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
    </ul>
  </div>

  <div class="article-container-show">
    <div class="article-texts">
      <h1><%= @article.title%></h1>
      <h4 class="index-article-date">Autor, <%= publication_date(@article.created_at) %></h4>
      <p><%= simple_format(@article.body)%></p>
    </div>

    <div class="article-comments-container">
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>

      <h2>Comments</h2>
      <% if @article.comments.count.zero? %>
        <p>There are no comments to display</p>
      <% else %>
        <%= render @article.comments.reject(&:new_record?) %>
      <% end %>
    </div>
  </div>
</div>