<div class="container-devise">
  <h2>Sign in</h2>

  <%= render 'devise/flash' %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: 'off' %>
      <%= render 'devise/flash_errors', input: :email%>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: 'off' %>
      <%= render 'devise/flash_errors', input: :password%>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
</div>