/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --p-element-color: rgb(50, 102, 85);
  --s-element-color: rgb(243, 213, 151);
  --gray: rgb(34, 34, 34);
  --border-gray: rgb(205 205 205);
  --light-gray: rgb(134, 134, 134);
  --p-element-color-hover: rgb(92 183 153);
  --error-color: #bf0303b8;
}

*{
  margin: 0;
  padding: 0;
  font-family: DejaVu Sans Mono, monospace;
  list-style-type: none;
  text-decoration: none;
  scrollbar-width: none;
 }

*::-webkit-scrollbar {
  width: 0px;
}

body{
  min-height: 100vh;
}
a {
  text-decoration: none;
}

/* HEADER */
.navbar{
  height: 4rem;
  padding: 0 2rem;
  background-color: var(--s-element-color) !important;
}

.navbar a{
  color: var(--gray);
}

.navbar a:hover{
  text-shadow: var(--gray) 0 0 0.25px, var(--gray) 0 0 0.5px, var(--gray) 0 0 0.75px;
}

.container-links{
  display: inline-flex;
  width: 11rem;
  justify-content: space-between;
  margin: 0;
}

/* TITLE CONTAINER */

.blog-title-container{
  background-color: #92ccb6;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-title-container h1{
  font-size: 3rem;
  margin: 1rem 0;
}

.new-article{
  color: rgb(59, 59, 59);
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px;
}

.new-article:active{
  transform: translate(1px, 1px);
  box-shadow: none;
}

.article-counter{
  text-align: right;
  padding: 1rem 1rem 1rem;
  color: var(--gray);
}

/* PAGE BG */
.bg-green{
  height: 93vh;
  background-color: #92ccb6;
  display: grid;
  place-items: center;
}

.btn-submit-container{
  display: grid;
  place-content: center;
}

.btn-submit{
  height: 3rem;
  width: 12rem;
  border-radius: 3px;
  border: none;
  background-color: var(--p-element-color);
  color: aliceblue;
  cursor: pointer;
}

.btn-submit:hover{
background-color: var(--p-element-color-hover);
}