/* INDEX ARTICLE PAGE */
.articles-container{
  padding: 5rem 20rem;
}

.article{
  display: inline-flex;
  border-bottom: 1px solid gray;
  padding: 3rem 0;
}

.article:first-child{
  padding-top: 0;
}

.index-article-body{
  text-align: justify;
}

.index-article-date{
  color: var(--gray);
  padding-top: 0.2rem;
  width: 40rem;
}

.index-article-title{
  margin-bottom: 1rem;
}

.index-article-title a{
  font-size:x-large;
  font-weight: bold;
  color: var(--p-element-color);
}

.index-article-title a:hover{
  color: var(--gray);
}


/* NEW_EDIT ARTICLE PAGE */
.new-edit-article-container{
  background-color: white;
  border-radius: 2.5rem;
  width: 80vh;
  padding: 2.5rem;
  color: rgba(0, 0, 0, 0.85);
}

.new-edit-article-container h1{
  padding-bottom: 1rem;
}

.article-title-form,
.article-body-form{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
} 

.article-status-form{
margin-bottom: 1rem;
}

.article-title-form input,
.article-body-form textarea {
margin-top: 0.5rem;
border-radius: 3px;
border: 1px solid rgba(0, 0, 0, 0.5);
}

.article-title-form input:focus-visible,
.article-body-form textarea:focus-visible{
  outline: 0.8px solid var(--p-element-color);
}

.article-title-form input{
  height: 1.5rem;
}

.article-body-form textarea{
  padding: 0.5rem;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}
.article-body-form{
  height: 48vh;
}

.field_with_errors input{
  width: 100%;
}


@media (max-height: 769px)
{
  .article-body-form{
    height: 40vh;
  }
}

/* SHOW ARTICLE*/
.article-show{
  height: 96vh;
  display: flex;
  flex-direction: column;
}

.article-links{
  background-color: #92ccb6;
  display: flex;
  justify-content: center;
  padding: 1rem 30rem;
}

.article-links-list{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  margin-bottom: 0;
}

.article-links-list li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-links-list li:nth-child(2) a{
  width: 10vw;
}

.article-links-list li a{
  border-radius: 3px;
  color: var(--p-element-color);
  font-weight: bold;
  cursor: pointer;
  min-height: 3vh;
  min-width: 8vw;
  /* background-color: var(--p-element-color); */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-links-list li a:hover{
  background-color: #5cb799;
}

.article-show{
  display: flex;
}

.article-texts,
.article-comments-container{
  padding: 4rem 15rem;
  overflow-y: scroll;
}

.article-texts h1{
  margin-bottom: 1rem;
}

.article-texts h4{
  margin-bottom: 1.5rem;
}

.article-texts p{
  text-align: justify;
  margin-bottom: 1rem;
}

.article-comments-container{
  padding-inline: 3rem;
  min-width: 25vw;
  background-color: var(--p-element-color);
  color: white;
}

.article-container-show{
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* FORM COMMENT */
.form-comment{
  padding: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.form-comment p{
  padding-bottom: 1rem;
}

.form-comment input,
.form-comment textarea{
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 1.5rem;
}

.form-comment textarea{
  height: 4rem;
}

.form-comment .btn-submit{
  height: 2rem;
  width: 8rem;
}

p.btn-comment{
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
