.container-devise{
  color: var(--gray);
  width: fit-content;
  min-width: 19rem;
  margin: 10rem auto;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: rgb(0 101 38) 0px 1px 2px 0px, rgb(0 83 19 / 31%) 0px 2px 6px 2px;}
.container-devise div,
.container-devise h2,
.container-devise h4 {
  margin: 1.1rem 0;
}
.container-devise h2{
  margin-top: 0;
}
.container-devise h4{
  font-weight: lighter;
  color: var(--light-gray);
}

.container-devise input[type=email],
.container-devise input[type=password]{
  margin-top: .5rem;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 1.5rem;
  padding: 0.5rem;
  border: .5px solid var(--border-gray);
  border-radius: 5px;
}

.container-devise label{
  font-size: smaller;
  font-weight: bold;
}

.container-devise .actions input{
  height: 2.5rem;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 3px;
  border: none;
  background-color: var(--p-element-color);
  color: aliceblue;
  cursor: pointer;
}

.container-devise .actions input:hover{
  background-color: var(--p-element-color-hover);
}

.container-devise a:visited{
  color: var(--gray);
}

.container-devise em{
  font-size: smaller;
  color: var(--light-gray);
}

.delete-account{
  border: none;
  background-color: white;
  cursor: pointer;
}
.delete-account:hover{
  color: brown;
}

.field_with_errors input{
  border-color: red !important;
}
div.field_with_errors{
  margin: 0;
}

.input-error-message{
  margin-top: 0.5rem;
  color: var(--error-color);
  font-size: x-small;
}

.flash.alert {
  color: var(--error-color);
  font-size: smaller;
}