<div> 
  <%= render "devise/shared/error_messages", resource: resource %>
  <% flash.each do |key, value| %>
    <% if value == "Signed out successfully." or value == "Signed in successfully."%>
    <% else %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  <% end %>
</div>